.director-card{
    padding: 20px;
    max-width: 500px;
    .movie-director{
      margin: 0 0 10px 0;
      .director-title{
        text-align: center;
      }
      .label{
        font-weight: 700;
      }
    }
  }