.movie-view-card{
  padding: 25px ;
  .movie-view {
    text-align: center;

    .label{
      font-weight: 600;
    }

    .movie-title,
    .movie-description,
    .movie-genre,
    .movie-director,
    .back-button {
      text-align: left;
    }

    .buttons-container{
      padding: 10px 0 0 0;
    }
  }

  img{
    width: 300px;
  }
}