.genre-card{
    padding: 20px;
    max-width: 500px;
    .genre-view{
      margin: 0 0 10px 0;
      .genre-title{
        text-align: center;
      }
      .label{
        font-weight: 700;
      }
    }
  }