h1,h2,h3,h4,h5,h6{
  font-weight: bold;;
  }

.profile-view{
  margin: 0 auto;
  max-width: 500px;
  border-radius: 15px;
  
  .profile-card{ 
    padding: 25px;

    .profile-title{
      text-align: center;
    }

    .movie-item{
      font-weight: 600;
    } 
    .delete-movie{
      font-weight: 400;
      color: rgb(20, 33, 220);
      cursor: pointer;
    }
    .buttons-container{
      margin: 0 auto;

      .back-button,
      .delete-button,
      .update-button{
        margin: 0 5px;
      }
    }
  }
}